#predictionContainer {
  display: grid;
  margin-top: 2rem;
}

#predictionContainer > h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

#loading {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

#prediction {
  display: grid;
  text-align: center;
}

.error {
  border: 2px solid red;
  border-radius: 0.5em;
  background-color: rgb(255, 150, 150);
  padding: 0.5em;
  color: red;
  font-weight: 900;
}

.separator {
  margin-bottom: 1rem;
}
